body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    box-shadow: 2px 2px 4px rgb(1, 1, 1);
    border-radius: 5px;
    gap: 20px;
}

.login-box input {
    width: 58%;
    height: 8%;
    border: 2px solid rgb(92, 18, 92);
}

.login-box button {
    width: 60%;
    height: 10%;
}